* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    min-height: 100vh;
    background-color: #9ddfd3;
}

h1 {
  text-align: center;
}

.game-board {
  display: grid;
  width: 600px;
  length: 600px;
  grid-template-columns: auto auto auto;
  background-color: #f6f5f1;
}

.block {
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}

.block p {
  font-size: 6.5em;
  font-weight: lighter;
}
